# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=mydb

# Redis
REDIS_PASSWORD=admin

# RabbitMQ
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin

# API
PORT=3000
DATABASE_URL=postgresql://admin:admin@localhost:5432/mydb
REDIS_URL=redis://:admin@localhost:6379
RABBITMQ_URL=amqp://admin:admin@localhost:5672
JWT_SECRET=localny-secret-zmien-to